

form {
	padding: 3px;
	position: fixed;
	bottom: 0;
	background-color: #ddd;
	width: 100%;
}

form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form button {
	width: 9%;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: #888;
	margin-bottom: 70px;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #f9f9f9;
}
#messages li.chat-message {
	color: #555;
}
#messages li.room-message > span.user {
	color: #333;
	font-weight: bold;
}
#messages li.room-message > span.text {
	color: #666;
}
#messages li.room-message > span.text > img.emoji {
	max-height: 22px;
}
#messages li.room-notification {
	color: purple;
}
